@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}









<div class="gallery"  id="gallery">
    <div class="gallery-item">
        <div class="content"><img src="~/images/group1.jpg" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/group2.jpg" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/group3.jpg" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/group4.jpg" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/group5.jpg" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/group1.jpg" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/group2.jpg" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/group3.jpg" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/group4.jpg" alt=""></div>
    </div>
    <div class="gallery-item">
        <div class="content"><img src="~/images/group5.jpg" alt=""></div>
    </div>
</div>