@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    string close = "initial"; 
    if(Model.SelecetedImage.URL == "")
    {
        close = "none";
        
    }

}

@model ShitoRyuSatokia.Models.MicroModel.ImageList







    
<div class="gallery" id="gallery">
    @foreach(var i in Model.ImageListing)
    {

    <form class="form" asp-controller="Home" asp-action="OnOpenPop" method="post">

        <input hidden value="@i.URL" type="text" name="id" />
        <button type="submit">
            <div class="gallery-item">
                <div class="content"><img src="@i.URL" alt="images"></div>
            </div>
        </button>
    </form>


    }






</div>



<div class="gallery-pop" id="gallerypop" style="display: @close" >
    <form asp-controller="Home" asp-action="OnClosePop" method="post">

    <div class="container">
        <div class="row">
            <div class="col-12 color-white">
                <button class="btn btn-close color-white" type="submit"   id="popclose" >X</button>
            </div>

            <div class="col-12 item-pop">
                <img id="selectedImage" src="@Model.SelecetedImage.URL" /> 
            </div>


        </div>


    </div>
    </form>

</div>


