@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="C-Head col-12 center">
                <h1>SHITO RYU SATOKAI <br /> <span>SOUTH AFRICA</span> </h1>

            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <img src="~/images/senseiMap.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="intro right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div class="row">

                                <h3>
                                    Sydney Hoaeane
                                </h3>
                                <h4>
                                    Chief Instructor
                                </h4>
                                <h5>
                                    <span>"</span>WISDOM IS A LIFE LONG JOURNEY, TO ACQUIRE IT<span>"</span>
                                </h5>

                                <ul>
                                    <li>
                                        <a href="tel:+27744365133">
                                            (+27) 74 436 5133
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:+27842149489">
                                            (+27) 84 214 9489
                                        </a>
                                    </li>
                                    <li>
                                        <a href="satokaisahq@gmail.com">
                                            satokaisahq@gmail.com
                                        </a>
                                    </li>
                                </ul>





                            </div>



                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <!--
            <div id="features" class="features section">
                <div class="container">

                    <div class="row">

                        <div class="col-3">

                            <h3>
                                ESTABLISHMENT
                            </h3>
                            <p>
                                Satoha Shitoryu Satokai South Africa was founded and established in the year 2013 by Sydney Hoaeane 6th Dan, which now enjoys popularity and growth in South Africa and Africa.
                            </p>

                        </div>
                        <div class="col-3">
                            <h3>
                                AFFILIATION
                            </h3>
                            <p>
                                Satoha Shitoryu Satokai South Africa its an official member of Satoha Shitoryu Satokai international federation. We also enjoy membership of sporting karate WKF, and all Shitoryu international federations.
                            </p>
                        </div>
                        <div class="col-3">
                            <h3>
                                ORIGIN
                            </h3>
                            <p>
                                We are direct leanage from master Mabuni's Shitoryu teachings in japan. Whose direct student was master Sagagami, who was left in charge of master Mabuni's Dojo, who later transferred the knowledge and Shitoryu ways to Akira Sato 9th Dan the founder of Satoha Shitoryu Satokai international federation
                            </p>

                        </div>
                        <div class="col-3">
                            <h3>
                                BENEFITS
                            </h3>

                            <p>
                                We offer traditional karate for self defence, sport karate, fitness, fun and leisure, karate classes and indivitual lessons. We encourage women and children to join ua to be able to with stand abuse and bullying. Karate is for all ages, all gender and for the disabled.
                            </p>


                        </div>





                    </div>
                </div>


                </div>

            -->
                <div id="features" class="features section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="features-content">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="features-item-C first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">

                                                <h4>ESTABLISHMENT</h4>
                                                <div class="line-dec"></div>
                                                <p>
                                                    Satoha Shitoryu Satokai South Africa was founded and established in the year 2013 by Sydney Hoaeane 6th Dan, which now enjoys popularity and growth in South Africa and Africa.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="features-item-C second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">

                                                <h4>AFFILIATION</h4>
                                                <div class="line-dec"></div>
                                                <p>
                                                    Satoha Shitoryu Satokai South Africa its an official member of Satoha Shitoryu Satokai international federation. We also enjoy membership of sporting karate WKF, and all Shitoryu international federations.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="features-item-C third-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">

                                                <h4>ORIGINS</h4>
                                                <div class="line-dec"></div>
                                                <p>
                                                    We are direct leanage from master Mabuni's Shitoryu teachings in japan. Whose direct student was master Sagagami, who was left in charge of master Mabuni's Dojo, who later transferred the knowledge and Shitoryu ways to Akira Sato 9th Dan the founder of Satoha Shitoryu Satokai international federation
                                                </p>
                                            </div>
                                        </div>


                                        <div class="col-lg-3">
                                            <div class="features-item-C fourth-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">

                                                <h4>BENEFITS</h4>
                                                <div class="line-dec"></div>
                                                <p>
                                                    We offer traditional karate for self defence, sport karate, fitness, fun and leisure, karate classes and indivitual lessons. We encourage women and children to join ua to be able to with stand abuse and bullying. Karate is for all ages, all gender and for the disabled.
                                                </p>
                                            </div>
                                        </div>











                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>



        </div>



        <div class="head-c col-12 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
            <h2>Master Riyushu Sakagami</h2>
        </div>


        <div class="back_decor wow fadeInUp margin_top_50px" id="bigFive" data-wow-duration="2s" data-wow-delay="0.5s">
            <img src="~/images/master.jpg" />
        </div>





        <div class="head-c col-12 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
            <h2>Our Dojo Kun</h2>
        </div>







        <div id="features" class="features section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="features-content">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="features-item-C first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">

                                        <p>Be moderate and courteous</p>
                                        <div class="line-dec"></div>
                                        <p>
                                            Hitotsu Reigeo Tadashiku Surukoto
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="features-item-C second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">

                                        <p>Be righteous and have a strong sense of justice</p>
                                        <div class="line-dec"></div>
                                        <p>
                                            Hitotsu Hitoni Meiwakuo Kakenaikoto
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="features-item-C third-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">

                                        <p>Be modest in your words and actions</p>
                                        <div class="line-dec"></div>
                                        <p>
                                            Hitotsu Otagaini Nakayoku Surukoto
                                        </p>
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <div class="features-item-C fourth-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">

                                        <p>Respect others</p>
                                        <div class="line-dec"></div>
                                        <p>
                                            Hitotsu Sensei Senpai No Oshieo Mamorukota
                                        </p>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="features-item-C fourth-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">

                                        <p>Karate-do is a lifetime study</p>
                                        <div class="line-dec"></div>
                                        <p>
                                            Hitotsu Renshuwa Mainichi Surukoto
                                        </p>
                                    </div>
                                </div>











                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>





    </div>



</div>
