@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ShitoRyuSatokia.Models.MicroModel.Notify

<div class="timeline"> 

    @foreach(var i in ViewBag.Noti){

  <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
    <div class="timeline__event__icon ">
      

    </div>
    <div class="timeline__event__date">
      @i.Date
    </div>
    <div class="timeline__event__content ">
      <div class="timeline__event__title">
        Greetings
      </div>
      <div class="timeline__event__description">
        <p>@i.Massege</p>
      </div>
    </div>
  </div>
    }

 

</div>