@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ShitoRyuSatokia.Models.AdminViewModel

<div id="contact" class="contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="section-heading">
                                <h6>Edit Form</h6>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">


                                <div class="col-lg-6">
                                    <fieldset>
                                        <input type="name" name="name" value="@Model.SelectedNews.heading" id="name" placeholder="Header" autocomplete="on" required>
                                    </fieldset>
                                </div>

                                <div class="col-lg-6">

                                    <fieldset>
                                        <input type="text" name="Dname" value="@Model.SelectedNews.Brief" placeholder="Brief" autocomplete="on" required>
                                    </fieldset>
                                </div>



                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="name" name="name" id="name" value="@Model.SelectedNews.Description" placeholder="Description" autocomplete="on" required>
                                    </fieldset>
                                </div>








                                <div class="C-Carosel col-md-12">
                                    <div class="btn btn-outline-success">ADD</div>
                                    <div class="featured-carousel owl-carousel">

                                        @foreach (var item in Model.SelectedNews.EventImages)
                                        {
                                            <div class="item C-image-Block">
                                                <img src="@item.URL" />
                                                <div class="btn btn-danger">Delete</div>
                                            </div>

                                        }



                                    </div>



                                </div>


                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button ">Save Form</button>
                                    </fieldset>
                                </div>

                                <div class="col-lg-6" style="background: #aaa;">

                                <input class="custom-file-input" type="file" />
                                </div>


                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>