@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ShitoRyuSatokia.Models.JoinViewModel
<div id="contact" class="contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                <form id="contact" method="post" action="Subform">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="section-heading">
                                <h6>Welcome</h6>
                                <h2>Fill Out The Form Below To <span>Get</span> In <em>Touch</em> With Us</h2>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">

                                    <fieldset>
                                        <input type="text" name="Dname"  value="@Model.SelectDojo.Dojo_Name" placeholder="Dojo Name" autocomplete="on" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input type="text" name="DIname"  placeholder="Head Instructor Name" autocomplete="on" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input type="email" name="Demail" placeholder="Head Instructor Email" autocomplete="on" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input type="text" name="DIposition" placeholder="Head Instructor Position" autocomplete="on" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="text" name="Dlocation" id="surname" placeholder="Dojo Location" autocomplete="on" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="DIinfo" type="text" class="form-control"  placeholder="Instructors Short description" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="Dinfo" type="text" class="form-control" placeholder="Dojo description" required=""></textarea>
                                    </fieldset>
                                </div>

                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="Drule" type="text" class="form-control" placeholder="Dojo rules and regulation" required=""></textarea>
                                    </fieldset>
                                </div>

                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="Dtime" type="text" class="form-control" id="message" placeholder="Dojo Schedule" required=""></textarea>
                                    </fieldset>
                                </div>


                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button ">Submit Form</button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>