@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <div class="row">

        <div class="col-lg-4 " style="text-align: center;">

            <h1 style="color: green"> Request was successfully sent</h1>

        </div>

        <div class="col-lg-4 offset-4">
            <form method="post" asp-controller="Join" asp-action="OnDone">

            <button type="submit" class="btn btn-success">Done</button>

            </form>
            </div>

        </div>

    </div>